@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
.achievementsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5vh 10vw;
  width: 100%;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5vmax;
  padding: 4.25vh 10vw;
}

.aboutContainer h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.aboutContainer p {
  line-height: 1.6;
  max-width: 45ch;
}

.aboutContainer .div1 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.aboutContainer .div2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.aboutContainer .div3 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.aboutContainer .div3 h1 {
  margin-bottom: 1.75rem;
}

.aboutContainer .div3 a {
  color: #fcfcfc;
  background: #212121;
  padding: .5rem 1.1rem;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.aboutContainer .div3 a:hover {
  background: #fcfcfc;
  color: #212121;
}

.aboutContainer .div3 .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.1rem 0;
}

.aboutContainer .div3 .details p {
  margin: .5rem 0;
}

.aboutContainer .div4 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.1rem 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.aboutContainer .div4 a img {
  margin-right: .8rem;
  background: #121212;
  border-radius: 100%;
  padding: 0.25rem;
  width: 2.5vmax !important;
}

@media (max-width: 480px) {
  .aboutContainer .div4 a img {
    width: 4.25vmax !important;
  }
}

.aboutContainer .div4 a p {
  margin: .5rem 0;
}

.sponsorLogosContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sponsorLogosContainer img {
  width: 12.5vmax;
  height: auto;
}

@media (max-width: 1023px) {
  .aboutContainer p {
    max-width: 65ch;
  }
  .aboutContainer .div1, .aboutContainer .div2 {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}
/*# sourceMappingURL=About.module.css.map */