@import "./_variables.scss";

.articleContainer {
    display: flex;
    flex-direction: column;
    width: 98vw;
    padding: 0 10vw;
    // border: 1px solid red; //debug
    .content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;        
        // border: 1px solid green; //debug
        h1 {
            font-size: 2.75rem;
            margin: .75rem 0;
        }
        h2 {
            margin: .5rem 0;
            letter-spacing: 3px;
            font-size: 1.25rem;
            font-weight: 400;
        }
        span {display: flex; flex-direction: column; margin: 0; padding: 0}
        img {
            max-height: 65vh;        
            max-width: 35vw;
            max-width: 400px; //ultrawide fix
            object-fit: contain;        
        }
        @media (max-width: $tablet-bp) {
            img {
                // min-width: 360px;            
                max-width: 50vw;            
            }
        }
        @media (max-width: $mobile-bp) {
            img {
                min-width: 80vw;
                max-width: 80vw;
            }
        }
        p {
            max-width: 45ch !important;
            line-height: 1.8 !important;
            // border-radius: .5rem;
            // border: 1px solid green; //debug
        }
        div:nth-of-type(2) {
            max-width: 45ch;
            margin-left: 3.25vmax;
            // border: 1px solid blue; //debug
        }
    }
}
@media (max-width: $tablet-bp) {
    .articleContainer {
        flex-direction: column;
        justify-content: row-reverse;
        .content {
            div:nth-of-type(2) {
                max-width: 45ch;
                margin-left: 0;
                margin-top: 2.5vmax;
                // border: 1px solid blue; //debug
            }
            h1 {
                font-size: 2.5rem;
            }
        }
    }
}
@media (max-width: $mobile-bp) {
    .articleContainer {
        .content {
            p {margin: 0}
        }
    }
}

.actionBtn {
    margin-top: .8rem 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;            
    font-weight: 700;
    background: #BC0000;
    padding: .8rem 1.25rem; 
    border-radius: .5rem;
    width: fit-content;       
    transition: .2s ease-in-out;
    box-shadow: 1px 2px 5px #212121;     
}
.actionBtn:hover,
.actionBtn:active,
.actionBtn:focus {
    background: darken(#BC0000, 15%);
}