@import "./_variables.scss";

.contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5vmax;
    // margin: 4.25vh 0;
    // border: 1px solid red; //debug
    @media (max-width: $mobile-bp) {
        div {
            max-width: 80vw;
            height: auto !important;
        }
    }
}
.div1 {
    display: flex;
    flex-direction: colmn;
    max-width: 80vw;
    width: fit-content;
    margin-top: 2.5vmax;
    // border: 1px solid red;
    h1 {
        margin: .75rem 0;
    }
    h2 {
        margin: .5rem 0;
        letter-spacing: 3px;
        font-size: 1.25rem;
        font-weight: 400;
    }
}
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) {
        .div1 {
            margin: 2.25vmax 0;
        }
    }
}
.div2 {
    // margin-bottom: 2.5vmax;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    flex-wrap: wrap;
    gap: 4.25vmax;
    max-width: 80vw;
    max-height: fit-content;
    // border: 1px solid blue; //debug
    img {
        max-height: 65vh;
        max-width: 35vw;
    }
    @media not all and (min-resolution:.001dpcm) {
        @supports (-webkit-appearance: none) {
            img {
                margin-right: 2.25vmax;
            }
        }
    }
    @media (max-width: $tablet-bp) {
        img {
            // min-width: 360px;            
            max-width: 42.5vw;            
        }
    }
    @media (max-width: $mobile-bp) {
        img {
            min-width: 80vw;
            max-width: 80vw;
        }
    }
    span {
        display: flex;
        flex-direction: column;
        gap: 1.25vmax;
        margin-top: -7.5vmax;
        // border: 1px solid red; //debug        
        // margin: 2.5vmax 0;
    }
    @media not all and (min-resolution:.001dpcm) {
        @supports (-webkit-appearance: none) {
            p {
                margin: 2.5vmax 0;
                margin-left: 2.5vmax;
            }
        }
    }
    p {
        max-width: 35ch;
        margin: .5rem 0;
        line-height: 1.8 !important;
    }
    
}
@media (max-width: $tablet-bp) {
    .div2 {
        span {
            margin-top: 0;
        }
        p {
            max-width: 50ch !important;
            margin-top: 0;
            // border: 1px solid purple; //debug
        }
    }
}
@media (max-width: $mobile-bp) {
    .div2 {
        flex-direction: column !important;
        gap: .5vmax;
        
    }
}