@import "./_variables.scss";

.frontpageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    padding: 2.5vh 0;
    gap: 2.5vmax;
    // border: 1px solid red; //debug

    
    div {
        // max-width: 40%;
        display: flex;
        flex-direction: column;
        // margin: 3.25vmax 0;
        h1 {
            margin-top: 0;
        }
        p {
            max-width: 45ch;
            line-height: 1.8;
        }
        .actionBtn, a {
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 1px;            
            font-weight: 700;
            background: #BC0000;
            padding: 1.25vmax 1.75vmax; 
            border-radius: .5rem;
            width: fit-content;       
            transition: .2s ease-in-out;
            box-shadow: 1px 2px 5px #212121;     
        }
        a:hover,
        a:active,
        a:focus,
        .actionBtn:hover,
        .actionBtn:active,
        .actionBtn:focus {
            background: darken(#BC0000, 15%);
        }
    }
    iframe {
        max-width: 560px;
        max-height: 315px;
    }
    @media (max-width: $tablet-bp) {
        div {
            p {
                max-width: 65ch;
            }
        }

    }
    @media (max-width: $mobile-bp) {
        iframe {
            max-width: 80vw;
            max-height: 30vh;
        }
    }
    
}