@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
.navParent {
  width: 100%;
}

.openNavBtn, .closeNavBtn {
  display: none;
}

.navContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2.5vh 10vw;
}

.navContainer .logo {
  min-width: 15vmin;
  min-height: 15vmin;
  max-width: 15vmin;
  cursor: pointer;
}

.navContainer nav a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.75rem;
  margin: 0 1.1vw;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.navContainer nav a:hover {
  color: #999;
}

.navContainer nav a:last-of-type {
  margin-right: 0;
}

.navContainer nav .navDropDown {
  padding: 0;
}

.navContainer nav .navDropDown .dropDown {
  display: none;
  padding: .5vmax;
  margin-top: -.25vmax;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style-type: none;
  background: rgba(0, 0, 0, 0.625);
}

.navContainer nav .navDropDown .dropDown li:hover {
  background: rgba(245, 245, 245, 0.625);
}

.navContainer nav .navDropDown .dropDown li:hover a {
  color: #212121;
  text-overflow: clip;
  overflow: visible;
}

.navContainer nav .navDropDown:active, .navContainer nav .navDropDown:hover, .navContainer nav .navDropDown:focus {
  padding-bottom: 2.5vmax;
}

.navContainer nav .navDropDown:active .dropdown, .navContainer nav .navDropDown:hover .dropDown, .navContainer nav .navDropDown:focus .dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .logoBtn {
    display: none;
  }
  .openNavBtn, .closeNavBtn {
    position: fixed;
    top: 5vh;
    left: 10vw;
    color: #fcfcfc;
    font-size: 1.2rem;
    width: 9.375vmax;
    height: 9.375vmax;
    border-radius: 100%;
    background: #BC0000;
    z-index: 100;
    border: 0;
  }
  .openNavBtn span, .closeNavBtn span {
    display: block;
    margin: 10% auto;
    width: 3.75vmax;
    height: 0.375vmax;
    border-radius: 0.5vmax;
    background: #fcfcfc;
  }
  .openNavBtn {
    display: block;
  }
  .closeNavBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .closeNavBtn div span {
    display: block;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .closeNavBtn div span:nth-of-type(2n) {
    background: #fcfcfc;
    -webkit-transform: translateY(-0.25vmax) rotate(135deg);
            transform: translateY(-0.25vmax) rotate(135deg);
  }
  .navContainer {
    display: none;
    background: none;
  }
  .navContainer .logo {
    display: none;
  }
  .navContainer nav {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 12.5vh;
    padding-left: 2.5vmax;
  }
  .navContainer nav a, .navContainer nav .navDropDown {
    padding: 2.5vmax 1.5vmax;
    margin-left: -1.5vmax;
    min-width: 65vw;
  }
  .navContainer nav .navDropDown {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .navContainer nav .navDropDown a {
    margin-right: -1.5vmax;
  }
  .navContainer nav .navDropDown .dropDown {
    display: none;
  }
  .navContainer nav .navDropDown:hover {
    padding: 2.5vmax 1.5vmax;
  }
  .navContainer nav .navDropDown:active .dropdown, .navContainer nav .navDropDown:hover .dropDown, .navContainer nav .navDropDown:focus .dropDown {
    display: none;
  }
}
/*# sourceMappingURL=nav.module.css.map */